---
- name: Setup and Deploy HNG TODO Application
  hosts: app_servers
  become: true
  gather_facts: true
  
  # SSH connection settings
  vars:
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
    ansible_ssh_retries: 5
  
  roles:
    - dependencies
    - deploy
