# ================================== #
# Terraform Variables for AWS Setup  # 
# ================================== #

# AWS Credentials
aws_access_key = "AKIA ..."  # Your AWS Access Key ID
aws_secret_key = "..."      # Your AWS Secret Access Key

# AWS Region
aws_region = "us-east-1"

# SSH Configuration
ssh_key_name         = "devops-ssh-key"
ssh_public_key_path  = "path to ssh public key"
ssh_private_key_path = "path to ssh private key"

# EC2 Instance Configuration
instance_name = "todo-app-server"
instance_type = "t3.medium"    # 2 vCPU, 4GB RAM (similar to DO s-2vcpu-4gb)
volume_size   = 24             # GB

# GitHub Repository
github_repo_url = "https://github.com/USERNAME/hng13-stage6-devops.git"
github_branch   = "main"

# Domain Configuration (FreeDNS)
domain = "your-domain-name"

# Application Secrets
jwt_secret = "your-jwt_secret"

# Additional Tags
tags = {
  Environment = "production"
  Project     = "todo-app"
  Owner       = "devops-team"
}

# Monitoring
enable_monitoring = true

# Ansible Configuration
ansible_user = "ubuntu"  # Ubuntu AMI default user
run_ansible  = true
