---
- name: Reload systemd and enable service
  systemd:
    daemon_reload: yes
    name: docker-compose-todo.service
    enabled: yes
  become: true

- name: restart application
  community.docker.docker_compose_v2:
    project_src: /opt/todo-app
    state: restarted
  become: true

- name: restart traefik
  community.docker.docker_container:
    name: traefik
    state: started
    restart: yes
  become: true